/* CSS file */
Button{
	font-family: "Microsoft Yahei","Heiti","黑体","宋体",Helvetica,Arial;
	color: #000;
	font-size: 12px;
	font-weight: normal;
}
CheckBox{
	font-family: "Microsoft Yahei","Heiti","黑体","宋体",Helvetica,Arial;
	color: #000;
	font-size: 12px;
	font-weight: normal;
}
TextInput{
	font-family: "Microsoft Yahei","Heiti","黑体","宋体",Helvetica,Arial;
	color: #000;
	font-size: 12px;
	font-weight: normal;
}
Label{
	font-family: "Microsoft Yahei","Heiti","黑体","宋体",Helvetica,Arial;
	color: #000;
	font-size: 12px;
	font-weight: normal;
}
DataGrid{
	font-family: "Microsoft Yahei","Heiti","黑体","宋体",Helvetica,Arial;
	font-size:11px;
}
ComboBox{
	font-family: "Microsoft Yahei","Heiti","黑体","宋体",Helvetica,Arial;
	color: #000;
	font-size: 12px;
	font-weight: normal;
}
HSlider.videoTracker{
	thumbUpSkin: Embed("../assets/trackerThumb.png");
	thumbDownSkin: Embed("../assets/trackerThumbDown.png");
	thumbOverSkin: Embed("../assets/trackerThumbDown.png");
	/*
	showTrackHighlight:true;
	dataTipPlacement: right;
	dataTipOffset: 0;
	*/
}
Canvas.videoWrapper{
	backgroundColor:#000;
}
ComboBox.dmCombo{
	font-family: "Microsoft Yahei","Heiti","黑体","宋体",Helvetica,Arial;
	color: #000;
	font-size: 12px;
	font-weight: normal;
	cornerRadius:0;
}
Button.playBtn{
	upSkin: Embed("../assets/btn_play_up.png");
	downSkin: Embed("../assets/btn_play_down.png");
	overSkin: Embed("../assets/btn_play_down.png");
	disabledSkin: Embed("../assets/btn_play_up.png");
}
Button.pauseBtn{
	upSkin: Embed("../assets/btn_pause_up.png");
	downSkin: Embed("../assets/btn_pause_down.png");
	overSkin: Embed("../assets/btn_pause_down.png");
}
Button.stopBtn{
	upSkin: Embed("../assets/btn_stop_up.png");
	downSkin: Embed("../assets/btn_stop_down.png");
	overSkin: Embed("../assets/btn_stop_down.png");
	disabledSkin: Embed("../assets/btn_stop_up.png");
}
Button.fsBtn{
	upSkin: Embed("../assets/btn_fs_up.png");
	downSkin: Embed("../assets/btn_fs_down.png");
	overSkin: Embed("../assets/btn_fs_down.png");
}
Button.ssBtn{
	upSkin: Embed("../assets/btn_ss_up.png");
	downSkin: Embed("../assets/btn_ss_down.png");
	overSkin: Embed("../assets/btn_ss_down.png");
}
Button.cfgBtn{
	upSkin: Embed("../assets/btn_cfg_up.png");
	downSkin: Embed("../assets/btn_cfg_down.png");
	overSkin: Embed("../assets/btn_cfg_down.png");
}
Button.cfgSBtn{
	upSkin: Embed("../assets/btn_cfgS_up.png");
	downSkin: Embed("../assets/btn_cfgS_down.png");
	overSkin: Embed("../assets/btn_cfgS_down.png");
}
Button.volume{
	upSkin: Embed("../assets/btn_sound_up.png");
	downSkin: Embed("../assets/btn_sound_down.png");
	overSkin: Embed("../assets/btn_sound_down.png");
}
Button.muted{
	upSkin: Embed("../assets/btn_sound_mute_up.png");
	downSkin: Embed("../assets/btn_sound_mute_down.png");
	overSkin: Embed("../assets/btn_sound_mute_down.png");
}
Button.cmntOn{
	upSkin: Embed("../assets/btn_dmk_up.png");
	downSkin: Embed("../assets/btn_dmk_down.png");
	overSkin: Embed("../assets/btn_dmk_down.png");
}
Button.cmntOff{
	upSkin: Embed("../assets/btn_dmk_off_up.png");
	downSkin: Embed("../assets/btn_dmk_off_down.png");
	overSkin: Embed("../assets/btn_dmk_off_down.png");
}
Canvas.Bar{
	background-image: Embed("../assets/bar.png");
	background-size: "100%";
}
/*Styling The List*/
TabNavigator {
    backgroundColor: #000;
    cornerRadius: 0;
    tabStyleName: "TbDlgTab";
    selectedTabTextStyleName: "TbDlgSelected";
}
.TbDlgTab{
	backgroundColor: black;
	cornerRadius: 0;
	color: #eee;
	textRollOverColor: haloBlue;
	fillColors:black,black;
}
.TbDlgSelected{
	backgroundColor: #fff;
	color: #fff;
    textRollOverColor: haloBlue;
}