/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
mx|TabNavigator{
	paddingTop:0;
	border:0;
}
s|Button{
	font-family: "Microsoft Yahei","Heiti","黑体","宋体",Helvetica,Arial;
	color: #000;
	font-size: 12px;
	font-weight: normal;
}
s|CheckBox{
	font-family: "Microsoft Yahei","Heiti","黑体","宋体",Helvetica,Arial;
	color: #000;
	font-size: 12px;
	font-weight: normal;
}
s|TextInput{
	font-family: "Microsoft Yahei","Heiti","黑体","宋体",Helvetica,Arial;
	color: #000;
	font-size: 12px;
	font-weight: normal;
}
s|Label{
	font-family: "Microsoft Yahei","Heiti","黑体","宋体",Helvetica,Arial;
	color: #000;
	font-size: 12px;
	font-weight: normal;
}
s|DataGrid{
	font-family: "Microsoft Yahei","Heiti","黑体","宋体",Helvetica,Arial;
	font-size:11px;
}
s|DataGrid s|Label{
	font-family: "Microsoft Yahei","Heiti","黑体","宋体",Helvetica,Arial;
	color: #000;
	font-size: 12px;
	font-weight: normal;
}
mx|Canvas.videoWrapper{
	backgroundColor:#000;
}
s|Button.playBtn{
	skinClass: ClassReference("skins.btnPlaySkin");
}
s|Button.pauseBtn{
	skinClass: ClassReference("skins.btnPauseSkin");
}
s|Button.stopBtn{
	skinClass: ClassReference("skins.btnStopSkin");
}
s|Button.fsBtn{
	skinClass: ClassReference("skins.btnFullScreenSkin");
}
s|Button.ssBtn{
	skinClass: ClassReference("skins.btnSmallScreenSkin");
}
s|Button.cfgBtn{
	skinClass: ClassReference("skins.btnSidebarOnSkin");
}
s|Button.cfgSBtn{
	skinClass: ClassReference("skins.btnSidebarOffSkin");
}
s|Button.volume{
	skinClass: ClassReference("skins.btnVolumeSkin");
}
s|Button.muted{
	skinClass: ClassReference("skins.btnMuteSkin");
}
s|Button.cmntOn{
	skinClass: ClassReference("skins.btnCommentOnSkin");
}
s|Button.cmntOff{
	skinClass: ClassReference("skins.btnCommentOffSkin");
}
s|SkinnableComponent.Bar{
	skinClass: ClassReference("skins.containerBar");
}